contourpy==1.2.0
cycler==0.12.1
fonttools==4.48.1
kiwisolver==1.4.5
matplotlib==3.8.2
metis==0.2a5
networkx==3.2.1
numpy==1.26.4
packaging==23.2
pillow==10.2.0
PyMetis==2023.1.1
pyparsing==3.1.1
python-dateutil==2.8.2
six==1.16.0
